body {
	background-color: #f2f2f2;
}
h1 {
	color: #b30000;
	text-align: center;
}
tr:hover {
	background-color: #f6f6f6;
}
th, td {
	border-bottom: 1px solid #ccc;
	text-align: left;
	padding: 10px;
}