body {
	background-color: #f2f2f2;
}
h1 {
	color: #b30000;
}
tr:hover {
	background-color: #f8f8f8;
}
th, td {
	border-bottom: 1px solid #ccc;
	text-align: left;
	padding: 10px;
}
.center {
	text-align: center;

}