h1 {
	text-align: center;
}
body {
	background-color: #777777;
}
img {
	max-width: auto;
	max-height: 300px;
}
td {
	margin: 10px;
	padding: 10px;
	font-family: calibri;
	font-size: 16px;
}
table {
	margin-left: 20px;
	margin-right: 20px;
}
ul {
	overflow: hidden;
	background-color: #333;
}
li {
	float: left;
}
li a {
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
}
#flygon {
	background: url('flygon.png') no-repeat;
	height: 200px;
	width: 200px;
}
#flygon:hover {
	background: url('shinyflygon.png') no-repeat;
}