h1 {
	text-align: center;
}
body {
	background-color: #777777;
}
img {
	max-width: auto;
	max-height: 300px;
}
td {
	margin: 10px;
	padding: 10px;
	font-family: calibri;
	font-size: 16px;
}
table {
	margin-left: 20px;
	margin-right: 20px;
}
li {
	display: inline;
	float: left;
}
#flygon {
	background: url('flygon.png');
	height: 200px;
	width: 200px;
}
#flygon:hover {
	background: url('shinyflygon.png');
}